<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature Conversion</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="../public/css/conversion.css">
</head>
<body>
    <form>
        <div class="logo">
        <img src="../public/images/temperature.png" alt="temperature" title="thermometer">
        <h3>Celcius - Fahrenheit Conversion</h3>
        </div>
        <div class="container">
        <div class="content">
            <h1>Temperature  <i class="fa-solid fa-temperature-half"></i></h1>
            <label for="celsius">Celsius</label>
            <input type="number" name="celsius" id="celsius" placeholder="Enter Temperature in celsius" required>
            <button type="button" id="convert">Convert</button> <button type="button" id="switch"><i class="fa-solid fa-repeat"></i></button>
            <label for="fahrenheit">Fahrenheit</label>
            <input readonly type="number" name="fahrenheit" id="fahrenheit" placeholder="Temperature in fahrenheit" readonly>
    </div>
    <p>To convert celsuis to fahrenheit yourself, use this formula replacing the '<i class="fa-solid fa-c"></i>' with your temparature in celsius: ( <i class="fa-solid fa-c"></i> x 9/5) + 32.</p>
    </div>
        </form>
        <script src="../public/js/convert.js"></script>
</body>
</html>